@keyframes sheen {
    0% {
        transform: skewY(-45deg) translateX(0);
    }

    100% {
        transform: skewY(-45deg) translateX(12.5em);
    }
}

.wrapper-button {
    display: block;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.click-me {
    padding: 0.02em 0.40em;
    text-align: center;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #89c342;
    border: 2px solid #89c342;
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.click-me:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.click-me:hover {
    background-color: #89c342;
    color: #fff;
    border-bottom: 4px solid #89c342;
}

.click-me:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}